body,html{height:100%;width:100%;margin:0;padding:0;left:0;top:0;font-size:100%}.center,.container{margin-left:auto;margin-right:auto}h1{font-size:2.5rem}h2{font-size:2rem}h3{font-size:1.375rem}h4{font-size:1.125rem}h5{font-size:1rem}h6{font-size:.875rem}p{font-size:1.125rem;font-weight:200;line-height:1.8}.font-light{font-weight:300}.font-regular{font-weight:400}.font-heavy{font-weight:700}.left{text-align:left}.right{text-align:right}.center{text-align:center}.justify{text-align:justify}.container{width:90%}.row{position:relative;width:100%}.row [class^=col]{float:left;margin:.5rem 2%;min-height:.125rem}.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9{width:96%}.col-1-sm{width:4.33%}.col-2-sm{width:12.66%}.col-3-sm{width:21%}.col-4-sm{width:29.33%}.col-5-sm{width:37.66%}.col-6-sm{width:46%}.col-7-sm{width:54.33%}.col-8-sm{width:62.66%}.col-9-sm{width:71%}.col-10-sm{width:79.33%}.col-11-sm{width:87.66%}.col-12-sm{width:96%}.row::after{content:"";display:table;clear:both}.hidden-sm{display:none}@media only screen and (min-width:33.75em){.container{width:80%}}@media only screen and (min-width:45em){.col-1{width:4.33%}.col-2{width:12.66%}.col-3{width:21%}.col-4{width:29.33%}.col-5{width:37.66%}.col-6{width:46%}.col-7{width:54.33%}.col-8{width:62.66%}.col-9{width:71%}.col-10{width:79.33%}.col-11{width:87.66%}.col-12{width:96%}.hidden-sm{display:block}}@media only screen and (min-width:60em){.container{width:75%;max-width:60rem}}

:root{
    --color1: rgb(48, 52, 63);
    --color2: rgb(250, 250, 255);
    --color3: rgb(228, 217, 255);
    --color4: rgb(39, 52, 105);
    --color5: rgb(30, 39, 73);
}
html{
    background-color: black;
    color: white!important;
    font-size: 16px;
    height: 100%;
    width: 100%;
}
body{
    padding: 5%;
    color: white!important;
    position: relative;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
div{
    color: white!important;
}
.title{
    font-family: 'Stylish', sans-serif;
    font-size: 5rem;
}
#loadingScreen{
    text-align: center;
    height: 50%;
    width: 100%;
    position: absolute;
    top:10%;
    margin: 0 auto;
    margin-left: -5%;
    transition: all 1s ease-in-out;
}
#loadingScreen > #logo{
    width: max-content;
    height: 80%;
    position: relative;
    margin: 0 auto;
}
#logo > img{
    height: 100%;
}
#square-loader {
    position: relative;
    width: 4em;
    height: 4em;
    z-index: 20000;
    top: 50%;
    border: 3px solid var(--color4);
    margin: 0 auto;
    overflow: hidden;
    animation: spin 3s ease infinite;
    text-align: initial;
}

#square-loader::before {
    content: '';
    position: absolute;
    width: 4em;
    height: 4em;
    background-color: var(--color4);
    transform-origin: center bottom;
    transform: scaleY(1);
    animation: fill 3s linear infinite;
}

@keyframes spin {
    50%,
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fill {
    25%,
    50% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

#clockWidget{

}
#weatherWidget{
    font-size: 1rem!important;
}
#weatherWidget > h1{
    font-size: 1.2rem!important;
    margin-bottom: 3px;
}
#newsWidget {
    width: 50%;
    font-size: 1rem!important;
}
#newsWidget > h4{
     font-size: 1.2rem!important;
     margin-bottom: 3px;
 }
#newsWidget > p{
    margin-bottom:2px!important;
    margin-top:0px!important;
    line-height:18px!important;
}
#weatherWidget > p{
    margin-bottom:2px!important;
    margin-top:0px!important;
    line-height:18px!important;
}
#notesWidget{
    width: 50%;
    position: absolute;
    top: 5%;
    right: -2%;
    line-height: 15px;
}
.note-container > h1{
    font-size: 1.3rem!important;
    margin-bottom: -2px!important;
}
.note-container > h5{
    font-size: 1.0rem!important;
    margin-bottom: 1px!important;
}
.note-container > h2{
    font-size: 1.1rem!important;

}
#id-container{
    margin: 0 auto!important;
    font-size: 0.8rem!important;
}
#mirrorId{
    margin: 0 auto!important;
    font-size: 0.8rem!important;
}
.note-container{ margin-bottom: 25px!important;
    display: block;
}